@model Ben_Project.Models.DeptRequisition

@{
    ViewData["Title"] = "DeptRepRequisitionDraft";
     Layout = "~/Views/Shared/_DeptLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Requisition Drafts</h1>
</div>

<table id="DepRepReqDraft" align="center" border="1">
    <tr>
        <th>Requisition Id</th>
        <th>Submission Status</th>
        <th>Action</th>
        <th>View</th>
    </tr>

    @{
        var reqId = @Model.Id;
    }

    <tr>
        <td>@Model.Id</td>
        <td>@Model.SubmissionStatus</td>
        <td>
            @Html.ActionLink("Submit", "DeptRepChangeSubmissionStatus", "Dept", new { id = reqId }, null)
        </td>
        <td>@Html.ActionLink("View", "EmployeeRequisitionDetail", "Dept", new { id = reqId }, null)</td>
    </tr>

</table>
