@using Microsoft.CodeAnalysis.CSharp.Syntax
@model IEnumerable<Ben_Project.Models.AdjustmentVoucher>

@{
    ViewData["Title"] = "Authorize Adjustment Voucher List";
}

<div class="text-center">
    <h1 class="display-4">Authorize Adjustment Voucher List</h1>
</div>

<table id="AuthAdjVoucherList" align="center" border="1">
    <thead style="background-color: lightskyblue">
        <tr>
            <th>Adjustment Voucher Id</th>
            <th>Voucher#</th>
            <th>Date issued</th>
            <th>Authorised by</th>
            <th>Status</th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var adjustmentVoucher in @Model)
        {
            <tr>
                <td>@Html.ActionLink(@adjustmentVoucher.Id.ToString(), "AuthorizeAdjustmentVoucherDetail", "Store", new {id = @adjustmentVoucher.Id}, null)</td>
                <td>@(adjustmentVoucher.VoucherNo != null ? adjustmentVoucher.VoucherNo : "N/A")</td>
                <td>@(adjustmentVoucher.IssueDate != null ? adjustmentVoucher.IssueDate.ToString() : "N/A")</td>
                <td>@(adjustmentVoucher.AuthorizedBy != null ? adjustmentVoucher.AuthorizedBy.ToString() : "N/A")</td>
                <td>@(adjustmentVoucher.Status != null ? adjustmentVoucher.Status.ToString() : "N/A")</td>
            </tr>
        }
    </tbody>
</table>