@model IEnumerable<Ben_Project.Models.Disbursement>

@{
    ViewData["Title"] = "StoreClerkDisbursementList";
}

<div class="text-center">
    <h1 class="display-4">Store Clerk Disbursement List</h1>
</div>

<table id="DisburseList" align="center" border="1">
    <thead style="background-color: lightskyblue">
        <tr>
            <th>Disbursement Id</th>
            <th>Status</th>
            <th>Collection Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var disbursement in @Model)
        {
            <tr>
                <td>@disbursement.Id.ToString()</td>
                <td>@disbursement.DisbursementStatus</td>
                <td>
                    @(disbursement.DisbursementDate != null ? ((DateTime)disbursement.DisbursementDate).ToString("MM/dd/yyyy") : "N/A")
                </td>
                <td>
                    @if (disbursement.DisbursementStatus == DisbursementStatus.PendingPacking)
                    {
                        @Html.ActionLink("Edit", "StoreClerkDisbursementDetail", "Store", new { id = @disbursement.Id }, null)
                    }
                    else if (disbursement.DisbursementStatus == DisbursementStatus.PendingDisbursement)
                    {
                        @Html.ActionLink("Acknowledge", "StoreClerkDisbursementAcknowledgement", "Store", new { id = @disbursement.Id }, null)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

