@model Ben_Project.Models.AdjustmentVoucher

@{
    ViewData["Title"] = "Store Clerk Adjustment Voucher Detail";
}

<div class="text-center">
    <h1 class="display-4">Store Clerk Adjustment Voucher Detail</h1>
</div>

<form asp-controller="Store" asp-action="SaveAdjustmentVoucher" method="post">

    <table align="center" border="1">
        <tr>
            <th>Item Code</th>
            <th>Quantity adjusted</th>
            <th>Reason</th>
        </tr>

        @for (int i = 0; i < Model.AdjustmentDetails.Count; i++)
        {
            <tr>
                <td>
                    <input asp-for="@Model.AdjustmentDetails[i].Stationery.Id" type="hidden" value="@Model.AdjustmentDetails[i].Stationery.Id" />
                    @Model.AdjustmentDetails[i].Stationery.ItemNumber
                </td>
                <td>
                    <input asp-for="@Model.AdjustmentDetails[i].AdjustedQty" type="number" />
                </td>
                <td>
                    <input asp-for="@Model.AdjustmentDetails[i].Reason" />
                </td>
            </tr>
        }
    </table>

    <input asp-for="@Model.Id" type="hidden" value="@Model.Id" />

    <input id="saveBtn" type="submit" value="Save" />

</form>

@Html.ActionLink("Delete", "DeleteAdjustmentVoucher", "Store", new { id = Model.Id}, null)
<br />
