@model Ben_Project.Models.Disbursement

@{
    Layout = "~/Views/Shared/_StoreClerk.cshtml";    
    ViewData["Title"] = "StoreClerkDisbursementAcknowledgement";
    var acknowledgementCode = (string) ViewData["acknowledgementCode"];

}

<div class="text-center">
    <h1 class="display-4">Store Clerk Disbursement Acknowledgement</h1>
</div>


<table align="center">
    <tr>
        <th>DISBURSEMENT ID:</th>
        <th>@Model.Id</th>
    </tr>
    <tr>
        <th>DEPARTMENT:</th>
        <th>@Model.DeptRequisition.Employee.Dept.DeptName</th>
    </tr>
    <tr>
        <th>DEPARTMENT REPRESENTATIVE:</th>
        <th>@Model.DeptRequisition.Employee.Name</th>
    </tr>
    <tr>
        <th>COLLECTION POINT:</th>
        <th>@Model.DeptRequisition.Employee.Dept.CollectionPoint</th>
    </tr>
</table>

<form asp-controller="Store" asp-action="StoreClerkDisbursementAcknowledgementValidation" method="post">
    <table id="DisburseAcknowledge" align="center" border="1">
        <thead style="background-color: lightskyblue">
        <tr>
            <th>Item Name</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < Model.DisbursementDetails.Count; i++)
        {
            var itemName = @Model.DisbursementDetails[i].Stationery.Description;
            var qty = @Model.DisbursementDetails[i].Qty;

            <tr>
                <td>@itemName</td>
                <td>@qty</td>
            </tr>
        }
        </tbody>
    </table>

    <input asp-for="@Model.AcknowledgementCode" />
    <input asp-for="@Model.Id" type="hidden" value="@Model.Id" />

    <input id="saveBtn" type="submit" value="Acknowledge" />
</form>
