@model IEnumerable<Ben_Project.Models.DeptRequisition>

@{
    Layout = "~/Views/Shared/_StoreClerk.cshtml";    
    ViewData["Title"] = "StoreClerkRequisitionList";
}

<div class="text-center">
    <h1 class="display-4">Store Clerk Requisition List</h1>
</div>

<table id="ReqList" align="center" border="1">
    <thead style="background-color: lightskyblue">
        <tr>
            <th>Requisition Id</th>
            <th>Dept</th>
            <th>Fulfillment Status</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var requisition in @Model)
    {
        <tr>
            <td>@Html.ActionLink(@requisition.Id.ToString(), "StoreClerkRequisitionFulfillment", "Store", new {id = @requisition.Id}, null)</td>
            <td>@requisition.Employee.Dept.DeptName</td>
            <td>@requisition.RequisitionFulfillmentStatus</td>
        </tr>
    }
    </tbody>
</table>

