@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Ben_Project.Models.Supplier

@{
    // var supplier = (Supplier)ViewData["Supplier"];


}

<h3>Create Supplier</h3>

<br />

<form id="loginForm" action="/StoreSupplier/Save" method="POST">

    <div class="form-group row">
        <div class="col-sm-6">
            <div class="form-group row">

                <div class="col-sm-4">
                    <label for="SupplierName">Supplier Name</label>
                </div>
                <div class="col-sm-6">
                    <input name="Name" class="form-control" id="Name" placeholder="Supplier Name" value="@Model.Name" />
                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-4">
                    <label for="Address">Address</label>
                </div>
                <div class="col-sm-6">
                    <input name="Address" class="form-control" id="Address" placeholder="Address" value="@Model.Address" />
                </div>

            </div>

            <div class="form-group row">
                <div class="col-sm-4">
                    <label for="TelephoneNo">TelephoneNo</label>
                </div>
                <div class="col-sm-6">
                    <input name="TelephoneNo" class="form-control" id="TelephoneNo" placeholder="TelephoneNo" value="@Model.TelephoneNo" />
                </div>

            </div>
        </div>
        <div class="col-sm-6">

            <table>
                <tr>
                    <th>Item Name</th>
                    <th>Unit Price</th>
                </tr>

                @for (int i = 0; i < Model.SupplierDetails.Count; i++)
                {
                    var itemName = @Model.SupplierDetails[i].Stationery.Description;
                    var itemId = @Model.SupplierDetails[i].Stationery.Id;
                    var itemNumeber = @Model.SupplierDetails[i].Stationery.ItemNumber;
                    var itemCate = @Model.SupplierDetails[i].Stationery.Category;
                    var itemUOM = @Model.SupplierDetails[i].Stationery.Uom;
                    var qty = @Model.SupplierDetails[i].UnitPrice;

                    <tr>
                        <td>@itemName</td>
                        <td>
                            <input asp-for="@Model.SupplierDetails[i].Stationery.Id" type="hidden" value="@itemId" />
                            <input asp-for="@Model.SupplierDetails[i].Stationery.Description" type="hidden" value="@itemName" />
                            <input asp-for="@Model.SupplierDetails[i].Stationery.Category" type="hidden" value="@itemCate" />
                            <input asp-for="@Model.SupplierDetails[i].Stationery.ItemNumber" type="hidden" value="@itemNumeber" />
                            <input asp-for="@Model.SupplierDetails[i].Stationery.Uom" type="hidden" value="@itemUOM" />
                            <input asp-for="@Model.SupplierDetails[i].UnitPrice" type="number" />
                        </td>
                    </tr>
                }
            </table>
        </div>

    </div>


    <div class="form-group row">

        <br />
    </div>
    <hr />
    @*
            <div class="form-group row">
            <div class="col-sm-1">

            </div>
            <div class="col-sm-10">
                <br/>

                <input type="button" title="Create" value="Create" onclick="location.href='@Url.Action("ManageSupplier", "StoreSupplier", new { s = supplier, flag = "Edit" },null)'" />

                <br />
                <br />
                <table id="eg_tbl" class="table table-striped table-bordered display" style="width:100%">
                    <thead style="background-color: lightskyblue">
                        <tr>
                            <th>No</th>
                            <th>Supplier Name</th>
                            <th>Address</th>
                            <th>Phone Number</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>

                            <td>1</td>
                            <td>FairPrice</td>
                            <td>Here</td>
                            <td>1111222</td>
                            <td>
                                @Html.ActionLink("Edit", "DeptHeadChangeRequisitionStatus", "Dept", null)
                                |
                                @Html.ActionLink("Delete", "DeptHeadChangeRequisitionStatus", "Dept", new { @style = "color:#FF0000;" })
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>No</th>
                            <th>Supplier Name</th>
                            <th>Address</th>
                            <th>Phone Number</th>
                        </tr>

                    </tfoot>
                </table>
            </div>
            <div class="col-sm-1">

            </div>

        </div>
    *@




    <div class="col-sm-2">
        <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
    </div>

</form>


